{% extends 'admin/base.html.twig' %}

{% block title %}Profil{% endblock title %}

{% block body %}
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="row content-panel">


              {% for message in app.flashes('success') %}
                <div class="alert text-center alert-success">
                    {{ message }}
                </div>
              {% endfor %}


              <div class="col-md-2 profile-text mt mb centered">
                
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-5 profile-text">
                <form method="POST" action="#">
                  <h3>Texte Slogan</h3>
                  <p>{% if slogan %}{{ slogan.title }}{% else %}Vous n'avez pas encore ajouter un slogan {% endif %}</p>
                  
                  <textarea name="slogan" class="form-control" cols="15" rows="3" placeholder="le texte qui apparait sur les photos de la page d'accueil"></textarea>
                  
                  <p style="margin-top:5px;"><button class="btn btn-theme"><i class="fa fa-edit"></i> Enregistrer</button></p>
                </form>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-5 centered">
                <div class="profile-pic">
                  <p><img src="{{ asset('admin/images/avatar/'~user.avatar) }}" class="img-circle"></p>
                  <p>
                    {{ form_start(userform) }}
                      <div style="margin-left:38%">{{ form_widget(userform.avatarFile) }}</div></br>                                                  
                      {{ form_errors(userform.avatarFile) }}
                    <div><button class="btn btn-theme02">Modifier la photo</button></div>
                    {{ form_end(userform) }}
                  </p>
                </div>
              </div>
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->
          </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active">
                    <a data-toggle="tab" href="#contact" class="contact-map">Contact</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#edit">Mot de passe</a>
                  </li>
                </ul>
              </div>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  <div id="contact" class="tab-pane active">
                    <div class="row">
                      <div class="col-lg-8 col-lg-offset-2 detailed mt">
                        <h4 class="mb">Information de Contact</h4>
                        <div class="form-horizontal">
                          {{ form_start(info_form) }}
                              <div class="form-group">
                                <div class="col-lg-1"></div>
                                <label class="col-lg-2 control-label">Adresse <span class="text-danger">*</sapn></label>
                                <div class="col-lg-6">
                                  {{ form_widget(info_form.adresse) }}
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-lg-1"></div>
                                <label class="col-lg-2 control-label">Email <span class="text-danger">*</sapn></label>
                                <div class="col-lg-6">
                                  {{ form_widget(info_form.email) }}
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-lg-1"></div>
                                <label class="col-lg-2 control-label">Phone <span class="text-danger">*</sapn></label>
                                <div class="col-lg-6">
                                  {{ form_widget(info_form.phone) }}
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-lg-1"></div>
                                <label class="col-lg-2 control-label">Facebook <span class="text-danger">*</sapn></label>
                                <div class="col-lg-6">
                                  {{ form_widget(info_form.facebook) }}
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-lg-1"></div>
                                <label class="col-lg-2 control-label">Skype</label>
                                <div class="col-lg-6">
                                  {{ form_widget(info_form.skype) }}
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-lg-1"></div>
                                <label class="col-lg-2 control-label">WathsApp</label>
                                <div class="col-lg-6">
                                  {{ form_widget(info_form.wathsapp) }}
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-lg-1"></div>
                                <label class="col-lg-2 control-label">LinkedIn</label>
                                <div class="col-lg-6">
                                  {{ form_widget(info_form.linkedIn) }}
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-9">
                                  <button class="btn btn-theme" type="submit">Enregistrer</button>
                                </div>
                              </div>
                          {{ form_end(info_form) }}
                        </div>
                      </div>
                      <!-- /col-lg-8 -->
                      <!-- /col-md-6 -->
                    </div>
                    <!-- /row -->
                  </div>
                  <!-- /tab-pane -->
                  <div id="edit" class="tab-pane">
                    
                    <div class="row">
                      <div class="col-lg-9 col-lg-offset-2 detailed">
                        <h4 class="mb">Mettre à jour votre Mot de passe</h4>
                        <div class="form-horizontal">
                          {{ form_start(form_pass) }}
                          <div class="form-group">
                            <label class="col-lg-3 control-label">Ancien mot de passe</label>
                            <div class="col-lg-6">
                              {{ form_widget(form_pass.oldPassword) }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-3 control-label">Votre nouveau mot de passe</label>
                            <div class="col-lg-6">
                              {{ form_widget(form_pass.newPassword) }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-3 control-label">Confirmer le nouveau mot de passe</label>
                            <div class="col-lg-6">
                              {{ form_widget(form_pass.confirmPassword) }}
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-9">
                              <button class="btn btn-theme" type="submit">Enregistrer</button>
                            </div>
                          </div>
                          {{ form_end(form_pass) }}
                        </div>
                      </div>
                      
                    </div>
                    <!-- /row -->
                  </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
    </section>

{% endblock body %}