<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="manCodeur">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>DagoAdmin | {% block title %}{% endblock %}</title>

    <!-- Favicons -->
    <link href="{{ asset('img/favicon.png') }}" rel="icon">
    <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset('admin/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('admin/css/jquery.gritter.css') }}" />
    <!-- Custom styles for this template -->
    <link href="{{ asset('admin/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/css/style-responsive.css') }}" rel="stylesheet">
    

    {% block stylesheets %}
          
    {% endblock %}
  </head>

  <body>
    <section id="container">
      <header class="header black-bg">
        
        <!--logo start-->
        <a href="index.html" style="font-size:18px;" class="logo"><b>DAG<span>OUTSOURCING</span></b></a>
        <!--logo end-->
      
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li><a class="logout" href="login.html">Logout</a></li>
          </ul>
        </div>
      </header>
      <!--header end-->


      <!-- **********************************************************************************************************************************************************
          MAIN SIDEBAR MENU
          ****************************************************************z******************************************************************************************* -->
      <!--sidebar start-->
          {% include 'admin/sidebar.html.twig' %}
      <!--sidebar end-->


      <!-- **********************************************************************************************************************************************************
          MAIN CONTENT
          *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">

      </section>
      <!--main content end-->

      {% block body %}{% endblock %}

      <!--footer start-->
      {% include 'admin/footer.html.twig' %}
      <!--footer end-->

    </section>


    <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('admin/js/bootstrap.min.js') }}"></script>
    <script class="include" type="text/javascript" src="{{ asset('admin/js/jquery.dcjqaccordion.2.7.js') }}"></script>
    <script src="{{ asset('admin/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('admin/js/Chart.js') }}"></script>
    
    <!--common script for all pages-->
    <script src="{{ asset('admin/js/common-scripts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/jquery.gritter.js') }}"></script>


    <script type="text/javascript">

      $(document).ready(function() {
        var unique_id = $.gritter.add({
          // (string | mandatory) the heading of the notification
          title: 'Bienvenue cher administrateur!',
          // (string | mandatory) the text inside the notification
          text: 'Ne vous inquiétez pas ,c\'est juste un message de bienvenue.',
          // (string | optional) the image to display on the left
          image: 'img/ui-sam.jpg',
          // (bool | optional) if you want it to fade out on its own or just sit there
          sticky: false,
          // (int | optional) the time you want it to be alive for before fading out
          time: 8000,
          // (string | optional) the class name you want to apply to that specific message
          class_name: 'my-sticky-class'
        });

        return false;
      });
    </script>
    
    {% block javascripts %}
    {% endblock %}

  </body>

</html>
